/* Potrait and Landscape */
@media screen and (min-width : 320px) and (max-width : 640px) and (-webkit-device-pixel-ratio: 2) {
    /* Generic Controls - Starts */
    body, div, input, button, textarea {
        font-size: 7.77vw;
        font-family: helveticaNeueThin, Helvetica, Arial, sans-serif;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */
       
        
        /*content: 'viewport-units-buggyfill; width: 100vw; height: 23vh; top: 9vh;';*/
    }
    .headerContent {
        font-size: 9vw !important;
    }
    .cards {
     width: 92vw !important;
}
}
/* Landscape */
@media screen and (min-width : 320px) and (max-width : 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

}
/* Potrait */
@media screen and (min-width : 320px) and (max-width : 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

}
